.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #e94560;
  border-color: #e94560;
}

.btn-primary:hover {
  background-color: #d83853;
  border-color: #d83853;
}
